// Colors

// Blue
$color-box-blue: #0061D5;
$color-blue-hover: #1D6BCA;
$color-box-blue-10: #E5EFFA;  // General sub-categories Id=4
$color-box-blue-02: #FAFCFE;

$color-dark-blue-10: #E5EBF2; // Box-Engineering sub-categories ID=28

$color-light-blue: #2486FC;
$color-light-blue-10: #E9F2FE;


// purple
$color-purple-rain-10: #7F32BE;
$color-blue-purple-10: #ECE9F8; // Partners sub-categories ID=35
$color-bright-purple-10: #F5EBFD;  // SDKs and Tools sub-categories ID=5


// red, orange, yellow
$color-red-10: #FDEBEE; // HED sub-categories ID=34
$color-light-green-10: #E9F8F2;  // Feedback sub-categories ID=2
$color-orange-10: #FDF2E8; // PAB sub-categories ID=33
$color-yellow-orange-10: #FEF7E8;
$color-yellow-10: #FFFBE5;  // Product API sub-categories ID=7

// gray
$color-box-gray: #222222;
$color-box-gray-80: #4E4E4E;
$color-box-gray-60: #6F6F6F;
$color-box-gray-30: #BCBCBC;
$color-box-gray-10: #E8E8E8;  // Platform sub-categories ID=6
$color-box-gray-05: #F4F4F4;
$color-box-gray-02: #FBFBFB;
$color-grippie-gray: #000C1A;

// black and white
$color-white: #FFFFFF;
$color-black: #000000;

@font-face {
    font-family: lato;
    src: url($lato) format('woff2')
}

body {
    font-family: lato;
    font-style: normal;
    letter-spacing: 0.3px;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: $color-box-gray;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $color-box-gray;
}

table th,
.topic-list td {
    color: $color-box-gray;
}

.d-header {
    background-color: $color-box-blue;
    color: $color-white;
    height: 1.5;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
    font-size: 16px;
    position: fixed;
    top: 0;
    height: 60px;
}

#site-logo {
    height: 1.4em !important;
    width: 5.32em !important;
    padding: 0;
}

// Menu, custom header, banner styles

#top-menu {
    position: fixed;
    z-index: 1200;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    background: transparent;
    width: auto;
}

.top-menu .menu-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #B2CFF2;
    transition: color 300ms ease-in-out;
    cursor: pointer !important;
    padding: 0 16px;
}

.top-menu .menu-item:hover {
    background: transparent;
    color: #FFFFFF;
}

.top-menu .menu-item:hover .d-header-dropdown {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    width: 320px;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    left: -50%;
}

.top-menu .menu-item.community:hover .d-header-dropdown {
    display:none;
}

.top-menu .community {
    color: #fff;
}

.top-menu .d-dropdown-menu {
    min-width:unset;
    box-shadow:unset;
    width:100%;
}

.top-menu .submenu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 14px;
    border-radius: 6px;
    transition: background-color 300ms ease-in-out;
}

.top-menu .submenu-link:hover {
    background-color: #f5f6f8;
}

.top-menu .submenu-link[title="DevDocs Header"],
.top-menu .submenu-link[title="AddRes Header"] {
    font-weight: 700;
}

.top-menu .submenu-link[title="DevDocs Header"]:hover,
.top-menu .submenu-link[title="AddRes Header"]:hover {
    background-color: #FFFFFF;
    cursor:default;
}

.top-menu .submenu-link[title="AddRes Header"] {
    margin-top:30px;
}

.d-header .wrap .contents {
    width: 95vw;
    position: relative;
    left: calc(-50vw + 50%);
    padding: 0 24px;
}

.custom-header-links .top-level-links {
    position: relative;
    left: calc(50vw - 100%);
}

.custom-header-links .top-level-links .custom-header-link,
.custom-header-links .top-level-links .custom-header-link-with-url {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.custom-header-links .top-level-links .custom-header-link:hover,
.custom-header-links .top-level-links .custom-header-link-with-url:hover {
    color: #FFFFFF;
} 

.search-menu .menu-panel.drop-down,
.custom-header-links .top-level-links .custom-header-dropdown {
    width: 500px;
    height: auto;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
}

.custom-header-links .top-level-links .custom-header-dropdown li {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #222222;
}

.custom-header-links .top-level-links .custom-header-dropdown li[title="Documentation"],
.custom-header-links .top-level-links .custom-header-dropdown li[title="Additional Resources"] {
    font-weight: 700;
}

.custom-header-links .top-level-links .custom-header-dropdown li[title="Additional Resources"] {
    margin-top: 25px;
}

#main .banner-box {
    margin-top:60px;
}

.banner-box .row {
    padding-top: 20px;
}

.banner-box .row .single-box,
.banner-box h1 {
    font-family: lato;
    text-align: left;
    vertical-align:center;
}

.banner-box .row .single-box .icon {
    text-align: right !important
}

.banner-box .row .single-box .icon .responsive-img {
    background: url($bubble-bg);
}

.alert .close {
    top: -1px;
}

.alert .close .d-icon {
    color:#222222;
    display:block;
}

.list-controls .combo-box .combo-box-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 137px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

// End menu, custom header, banner styles

.d-header-icons .d-icon {
    height: 24px;
    width: 24px;
    color: $color-white;
}

.d-header-icons .d-icon:hover {
    background: none;
}

.sign-up-button {
    display: none;
}

.d-modal.login-modal:not(.hidden) #new-account-link {
    display: none;
}

.login-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    width: 69px;
    height: 33px !important;
    right: 56px;
    top: 14px;
    
    /* Gray/White */
    
    border: 1px solid $color-white;
    border-radius: 6px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    
    /* Gray/White */
    
    color: $color-white;
}

.login-button:hover {
    background: $color-blue-hover !important;
}

.menu-links.columned li {
    width: 100%;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section .sidebar-section-header-wrapper {
    line-height: 24px;
    margin-bottom: 14px;
}

.sidebar-section-wrapper .sidebar-section-header-text {
    font-weight:700;
    font-size: 16px;
    line-height: 24px;
    color: $color-box-gray;
    margin-bottom: 14px;
}

.sidebar-section-link-wrapper:has(a[data-link-name="everything"]),
.sidebar-section-link-wrapper:has(a[data-link-name="my-posts"]),
.sidebar-section-link-wrapper:has(a[data-link-name="review"]),
.sidebar-section-link-wrapper:has(a[data-link-name="users"]),
.sidebar-section-link-wrapper:has(a[data-link-name="groups"]),
.sidebar-section-link-wrapper:has(a[data-link-name="badges"]),
.sidebar-section-link-wrapper:has(a[data-link-name="anniversaries"]),
.sidebar-section-link-wrapper:has(a[data-link-name="birthdays"])
{
    display:none;
}

.sidebar-section-link-wrapper .sidebar-section-link .sidebar-section-link-content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-box-gray;
}

ul.category-links {
display: none;
}

.categories-separator {
    display: none;
}

.search-menu .menu-panel.drop-down {
    width: auto;
    height: auto;
}

.search-menu .menu-panel.drop-down .panel-body {
    width:100%;
}

.search-menu .search-input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    line-height:14px;
    gap: 8px;
    vertical-align: center;
    width: auto;
    height: 40px;
    margin-bottom: 29px;
    
    /* Gray/White */
    
    background: $color-white;
    /* Light Blue/100 */
    
    border: 2px solid $color-light-blue;
    /* Inner Shadow/Text Input */
    
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

#search-term {
    padding-top: 6px;
    padding-bottom: 4px;
    background: transparent;
}

.search-menu .searching {
    top: 0.75em;
}

.menu-panel ul.search-menu-initial-options {
    width: 99%;
}

.search-menu .results {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: center;
    width: auto;
}

.search-menu .search-random-quick-tip {
    width: 100%;
    height: 30px;
    line-height:22px;
    background: $color-white;
}

.search-menu .search-random-quick-tip .tip-label.tip-clickable {
    width: 24px;
    height: 24px;
    background: $color-box-blue-10;
    text-align: center;
    margin-right: 5px;
    font-weight: 400;
    font-size: 12px;
    color: $color-box-gray-30;
}

.tip-description {
    font-weight: 400;
    font-size: 12px;
    color: $color-box-gray-30;
}

.menu-panel.drop-down {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 244px;
    padding: 12px;
    background: $color-white;
    border: 1px solid $color-box-gray-10;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.menu-panel .panel-body {
    width: 100%;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section .sidebar-section-header-wrapper {
    border: none;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section ul {
    display: block;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon {
    display: none;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-box-gray;
    margin-bottom: 14px;
}

.list-controls .nav-pills .navigation-toggle {
    width: 137px;
    height: 40px;
    background: $color-white;
    border: 1px solid $color-box-gray-30;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.select-kit .combo-box .category-drop {
    width: 137px;
    height: 40px;
    background: $color-white;
    border: 1px solid $color-box-gray-30;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.nav-pills li a {
    height: 32px;
    text-align:center;
    background: $color-box-gray-05;
    border-radius: 32px;
}

.nav-pills li a.active {
    background: $color-box-blue;
}

.nav-pills>li>a:hover:not(.active),
.nav-pills>li button:hover:not(.active) {
    background: $color-box-gray-02;
    color: $color-box-gray;
}

.btn {
    align-items: center;
    padding: 0px 16px;
    height: 40px;
    background: $color-box-blue;
    border-radius: 6px;
    color: $color-white;
    transition: background-color 200ms ease-in-out;
}

.discourse-no-touch .btn:hover,
.discourse-no-touch .btn.btn-hover {
    background-color: $color-blue-hover;
}

#reply-control #draft-status+.btn-mini-toggle,
.btn.btn-mini-toggle {
    background: $color-box-gray-10;
    color: $color-box-gray-80;
}

.btn.btn-mini-toggle:hover {
    background: $color-box-gray-10;
    color: $color-box-gray;
}

.btn .d-icon {
    display: none;
}

.btn[href] {
    color: $color-white;
}

svg.fa.d-icon.d-icon-times.svg-icon.svg-string {
    display:block;
}

.discourse-post-event .event-header .more-dropdown .widget-dropdown .widget-dropdown-header .d-icon {
    display: block;
    color: $color-white;
}

#topic-footer-buttons .topic-notifications-button .reason .dropdown-select-box .name {
    color:$color-white;
}

.select-kit.single-select.dropdown-select-box .select-kit-row .texts .name {
    color: $color-box-gray !important;
}

.consent_banner.alert.alert-info .btn-link.btn-text .d-button-label {
    color: $color-box-gray !important;
    font-weight: 700;
}

.discourse-no-touch .btn-link:hover {
    color: $color-white;
    background: $color-blue-hover;
}

.d-button-label {
    color: $color-white;
}

.popup-menu .btn .d-button-label {
    color: $color-box-gray !important;
}

.category-breadcrumb {
    order:2;
}

.navigation-controls {
    order:3;
}

table {
    border-collapse: separate;
    border-spacing: 0 30px;
}

table thead tr th {
    border-bottom: 3px solid var(--primary-low);
}

.category-list tbody .category {
    border-width: 12px;
    border-radius: 6px 0px 0px 6px;
    padding:16px;
    background: $color-box-blue-02;
}

.category-list .category-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.category-list .category .category-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-box-gray;
}

.category-list .topics {
    padding:16px;
}

.category-list thead .topics {
    border-radius: 0;
    background-color: $color-white;
    padding: 12px;
}

.category-list tbody .topics {
    border-radius: 0;
    background-color: $color-box-blue-02;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.subcategory .badge-wrapper.bullet .badge-category {
    border-radius: 47px;
    padding: 2px 8px;
}

.category-list .subcategories .badge-wrapper {
    margin-right: 0;
}

.badge-wrapper .badge-category .category-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-box-gray;
}

.category-list .subcategories .subcategory {
    margin-bottom: 8px;
}

// Feedback
tr[data-category-id="2"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-light-green-10;
}

// General
tr[data-category-id="4"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-box-blue-10;
}

// SDKs and Tools
tr[data-category-id="5"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-bright-purple-10;
}

// Box Platform
tr[data-category-id="6"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-box-gray-10;
}

// Product APIs
tr[data-category-id="7"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-yellow-10;
}

// Box Engineering
tr[data-category-id="28"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-dark-blue-10;
}

// Product Advisory Board
tr[data-category-id="33"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-orange-10;
}

// Higher Education
tr[data-category-id="34"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-red-10;
}

// Partners
tr[data-category-id="35"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: $color-blue-purple-10;
}

.subcategory .badge-wrapper.bullet .badge-category-bg {
    display: none !important;
}

.badge-wrapper.bullet .badge-category-bg {
    border-radius: 50%;
}

.latest-topic-list .table-heading {
    margin: 30px 0 0 0;
}

.latest-topic-list-item .main-link a.title,
.topic-list .main-link a.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-box-blue;
}

.latest-topic-list-item.visited .main-link a.title,
.topic-list-item.visited .topic-list-data a.title:not(.badge-notification) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-purple-rain-10;
    ;
}

#banner-content_wrap .banner-box.third_column {
    display: none;
}

#banner-content_wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.banner-box .row {
    justify-content: flex-start;
}

.second_column.single-box {
    margin-left: auto;
    margin-right: 10px;
}

/* 
    Create/Reply to Post dialog box
*/
#reply-control .reply-to .composer-controls .d-icon:not(.d-icon-discourse-expand)
:not(.d-icon-chevron-down)
:not(.d-icon-angle-double-left) {
    display: none;
}

#reply-control .reply-to .composer-controls .d-icon.d-icon-discourse-expand,
#reply-control .reply-to .composer-controls .d-icon.d-icon-chevron-down,
#reply-control .reply-to .composer-controls .d-icon.d-icon-angle-double-left,
.btn.no-text .d-icon.d-icon.d-icon-angle-double-left {
    color: $color-box-gray;
    background: $color-box-gray-10;
    display:block;
}

#reply-control .reply-to .composer-action-title .d-icon, 
#reply-control .reply-to .composer-action-title .action-title {
    color:$color-box-gray;
}

.btn.no-text:not(.quote):not(.bold):not(.italic):not(.link):not(.blockquote):not(.upload):not(.emoji):not(.local-dates):not(.code):not(.bullet):not(.list) .d-icon:not(.d-icon-angle-double-left):not(.d-icon-times):not(.d-icon-cog) {
    display: inline-flex;
    color: $color-white;
}

.open .grippie {
    background: $color-grippie-gray;
}

.open .grippie:before {
    border-top: 3px double $color-white;
}

.d-editor-button-bar .btn .d-icon {
    color: $color-box-gray-80;
    display: block;
}

.chat-drawer-header__top-line .btn-flat .d-icon {
    display: inline;
    color: $color-white;
    padding: 10px;
}

.chat-drawer-header {
    padding: 0.5rem;
}

#reply-control #reply-title,
#reply-control .category-input .category-chooser .select-kit-header,
#reply-control .mini-tag-chooser .select-kit-header,
.d-editor-textarea-wrapper {
    box-sizing: border-box;
    border: 2px solid $color-light-blue;
    border-radius: 8px;
}

.nav-item_categories {
    cursor: pointer;
}

.btn-flat.btn-text,
.btn-text.json-editor-btn-collapse {
    color: $color-white;
    transition: background-color 300ms ease-in-out;
}

button.btn.btn-flat.btn-text.btn-dismiss-all:hover {
    background-color: --tertiary-hover;
}

.discourse-no-touch .d-header-icons .icon:hover,
.discourse-no-touch .d-header-icons .icon:focus {
    background-color: transparent;
}

.discourse-no-touch .d-header-icons .icon:hover>.d-icon,
.discourse-no-touch .d-header-icons .icon:focus>.d-icon {
    color: $color-white;
}

.drop-down-mode .d-header-icons .active .icon {
    background: transparent;
    border: transparent;
}

.drop-down-mode .d-header-icons .active .icon>.d-icon {
    color: $color-white;
}

.drop-down-mode .d-header-icons .active .icon:after {
    display: none;
}

.chat-drawer-header__full-screen-btn,
.chat-drawer-header__close-btn {
    margin-left: 10px;
}

.chat-drawer-header__close-btn:focus,
.chat-drawer-header__back-btn:focus,
.chat-drawer-header__full-screen-btn:focus,
.chat-drawer-header__thread-list-btn:focus,
.chat-drawer-header__expand-btn:focus {
    background: var(--tertiary);
}

.chat-retention-reminder .btn .d-icon {
    display: inline;
}

svg.fa.d-icon.d-icon-times.svg-icon.svg-string {
    color: $color-white;
}

.btn-flat.btn-text:not([disabled]):hover,
.btn-text.json-editor-btn-collapse:not([disabled]):hover,
.btn-flat.btn-text:not([disabled]).btn-hover,
.btn-text.json-editor-btn-collapse:not([disabled]).btn-hover,
.btn-flat.btn-text:not([disabled]):focus,
.btn-text.json-editor-btn-collapse:not([disabled]):focus {
    color: $color-white;
}

.chat-retention-reminder {
    border-radius: 6px;
    padding: 10px;
    margin-top: 5px;
}

.chat-retention-reminder .btn-flat.dismiss-btn {
    padding: 0 8px;
    height: 30px;
}

.chat-retention-reminder .btn-flat.dismiss-btn:hover,
.chat-retention-reminder .btn-flat.dismiss-btn:focus {
    background-color: $color-blue-hover;
}

.chat-channel-row {
    border-radius: 6px;
    transition: background-color 200ms ease-in-out;
}

.chat-drawer-container .channels-list .chat-channel-row {
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.create-invite-modal .modal-inner-container,
.create-invite-bulk-modal .modal-inner-container,
.share-topic-modal .modal-inner-container {
    border-radius: 6px;
    padding: 5px;
}

#topic-progress {
    border: none;
}

#topic-progress .bg {
    background-color: transparent;
}

.topic-navigation {
    margin-top: 10px;
}

.button.widget-button.btn-flat.reply {
    border-radius: 6px;
    background-color: $color-box-blue;
}

.button.widget-button.btn-flat.reply:hover {
    background-color: $color-blue-hover;
}

nav.post-controls .actions button.create .d-icon {
    color: $color-white;
}

.chat-channel-title {
    padding-left: 10px;
}

.search-header {
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    border: 1px solid $color-box-gray-10;
}

@media screen and (max-width: 850px) {
    .search-container .search-header {
        padding: 2rem;
    }
}

.select-kit .select-kit-header:not(.btn) {
    border-radius: 6px;
    min-height: 40px;
}

.search-container .search-bar input.search-query {
    border-radius: 6px;
}

.d-date-input .date-picker {
    border-radius: 6px;
    min-height: 40px;
}

.latest-topic-list-item.visited .main-link a.title,
.topic-list-item.visited .topic-list-data a.title:not(.badge-notification) {
    color: $color-box-blue;
}

.menu-panel.drop-down {
    right: 20px;
}

.channels-list .open-browse-page-btn,
.channels-list .open-draft-channel-page-btn,
.channels-list .chat-channel-leave-btn {
    background-color: $color-box-blue;
    color: $color-white;
    padding: 0 10px;
    height: 35px;
}

.direct-message-creator .results .user.is-focused {
    background-color: $color-box-gray-05;
}

.chat-composer-dropdown__action-btn {
    margin-bottom: 5px;
}

.direct-message-creator .selected-user .username {
    color: $color-black;
}

.chat-message-actions .more-buttons.dropdown-select-box .select-kit-header .select-kit-header-wrapper .d-icon {
    display: inline;
}

.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-collection,
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
    border-radius: 6px;
    padding: 10px;
}

.select-kit.single-select.dropdown-select-box .select-kit-row {
    border-radius: 6px;
}

.chat-message-actions .more-buttons.dropdown-select-box .select-kit-body {
    padding: 1rem;
}

.modal-inner-container {
    border-radius: 6px;
    padding: 5px;
}

.bookmark-with-reminder.modal .modal-body .ember-text-field.bookmark-name {
    border-radius: 6px;
    min-height: 40px;
}

.dialog-content {
    border-radius: 6px;
}

.chat-emoji-picker__filter.dc-filter-input-container {
    border-radius: 6px;
}

.chat-channel-message-emoji-picker-connector .chat-emoji-picker {
    border-radius: 6px;
    padding: 10px;
    left: -50px;
}

.chat-emoji-picker {
    padding: 10px;
}

.select-kit-collection {
    padding: 10px;
}

.popup-menu {
    border-radius: 6px;
}

#reply-control .category-input .category-chooser .select-kit-body {
    padding: 10px;
    border-radius: 6px;
}

.select-kit.combo-box.category-chooser .select-kit-row {
    border-radius: 6px;
    margin-top: 10px;
}

.select-kit.is-expanded .select-kit-body {
    border-radius: 6px;
}

.d-editor-button-bar {
    grid-gap: 5px;
    padding: 5px;
}

.select-kit-header-wrapper {
    color: $color-box-gray-80 !important;
}

.composer-popup {
    border-radius: 6px;
}

.composer-popup a.close .d-icon {
    color: $color-black;
}

#reply-control.draft, #reply-control.saving {
    padding: 10px 5px 5px 5px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.btn-mini-toggle .d-icon {
    display: inline;
    color: $color-black !important;
}

.discourse-reactions-actions.can-toggle-reaction .discourse-reactions-reaction-button .reaction-button,
.discourse-reactions-actions.can-toggle-reaction .discourse-reactions-reaction-button {
    border-radius: 6px;
}

nav.post-controls .actions button {
    border-radius: 6px;
}

.select-kit-selected-name.selected-name {
    color: $color-white;
}

.topic-map .buttons .btn {
    background-color: $color-box-blue;
    border: none;
}

.topic-map .buttons .btn:hover {
    background-color: $color-blue-hover;
}

.topic-map section {
    padding: 10px;
    border-radius: 6px;
}

.topic-map {
    border-radius: 6px;
}

.map:first-of-type {
    align-items: center;
}

.map:first-of-type .buttons .btn {
    height: 40px;
}

#topic-title .edit-topic-title #edit-title {
    min-height: 40px;
    border-radius: 6px;
}

.new-user-wrapper .user-navigation .nav-pills {
    padding: 10px;
}

.new-user-wrapper .user-navigation .nav-pills li a {
    margin-right: 5px;
}

.select-kit.multi-select .select-kit-row {
    border-radius: 6px;
}

.selected-content .btn.selected-choice-category .category-name {
    color: $color-white;
}

textarea {
    border-radius: 6px;
}

button.toggle-channel-membership-button.-leave.btn-flat.btn-link.btn-small.chat-channel-card__leave-btn.btn.btn-text {
    padding: 0 10px;
}

button.toggle-channel-membership-button.-leave.btn-flat.btn-link.btn-small.chat-channel-card__leave-btn.btn.btn-text:hover {
    background-color: $color-blue-hover;
}

.chat-form__section:last-child {
    margin: 1.5rem 1rem;
}

.channel-members-view__search-input-container {
    min-height: 40px;
    border-radius: 6px;
}

input[type=text],
input[type=number],
input[type=email] {
    border-radius: 6px;
    min-height: 40px;
}

.select-kit.is-expanded .select-kit-body {
    padding: 10px;
}

.select-kit.combo-box.category-drop .select-kit-row {
    margin-top: 5px;
    border-radius: 6px;
}

.user-menu.revamped .quick-access-panel li.unread,
.user-menu.revamped .quick-access-panel li.pending {
    border-radius: 6px;
    margin-top: 5px;
    background-color: $color-box-gray-05 !important;
}

li.notification.read.private-message {
    border-radius: 6px;
    margin-top: 10px;
}

.user-menu .quick-access-panel li {
    border-radius: 6px;
    margin-top: 5px;
}

.user-menu.revamped .tabs-list .btn {
    margin-bottom: 2px;
}

.menu-panel .panel-body-bottom .btn {
    background-color: $color-box-blue;
    color: $color-white;
}

.menu-panel .panel-body-bottom .btn:hover {
    background-color: $color-blue-hover;
    color: $color-white;
}

.user-menu.revamped .menu-tabs-container {
    border-left: none;
}

.user-menu.revamped .tabs-list .btn:hover {
    background-color: $color-blue-hover;
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix .prefix-span {
    border-radius: 50%;
}

.sidebar-section-link-wrapper .sidebar-section-link {
    border-radius: 6px;
}

.sidebar-section-link-wrapper .sidebar-section-link:focus,
.sidebar-section-link-wrapper .sidebar-section-link:hover {
    background-color: $color-box-gray-05;
}

.open .grippie {
    background-color: $color-box-blue;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.badge-card {
    border-radius: 6px;
    border: 1px solid $color-box-gray-10;
    background: transparent;
    transition: border-color .25s ease-out,box-shadow .25s ease-out;
}

.badge-card:hover {
    border: 1px solid $color-box-blue;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

#quick-access-profile .profile-tab-btn .item-label {
    color: $color-white;
}

#quick-access-profile .profile-tab-btn {
    margin-top: 5px;
}

.user-menu.revamped #quick-access-profile li {
    margin-top: 5px;
}

.hamburger-panel .revamped .sidebar-section-wrapper .sidebar-section-header-button {
    border-radius: 6px;
    padding: 5px;
}

.hamburger-panel .revamped .sidebar-section-wrapper .sidebar-section-header-button:hover {
    background-color:  $color-blue-hover;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section ul li:last-child:after {
    border-bottom: 1px solid $color-box-gray-30;
    content: '';
    width: 90%;
    position: absolute;
    bottom: -15px;
    left: 10px;
}

.hamburger-panel .revamped .sidebar-section-wrapper .sidebar-section-link.active {
    background-color: #fff;
}

.badge-wrapper.bullet .badge-category-parent-bg+.badge-category-bg {
    width: 10px;
    height: 10px;
}

.topic-list-data .badge-wrapper.bullet .badge-category-parent-bg {
    display: none;
}

.latest-topic-list-item .badge-category-parent-bg {
    display: none;
}

.badge-wrapper.bullet .badge-category-parent-bg {
    display: none;
}

.new-user-wrapper .user-navigation .nav-pills li a.active {
    border: none;
    background-color: $color-box-blue;
    color: $color-white;
    padding: 0;
}

.new-user-wrapper .user-navigation .nav-pills li a {
    background: $color-box-gray-05;
    color: $color-box-gray;
    transition: background-color 200ms ease-in-out;
}

.new-user-wrapper .user-navigation .nav-pills li a:hover,
.new-user-wrapper .user-navigation .nav-pills li a:focus {
    background: $color-box-gray-02;
    color: $color-box-gray;
    border-bottom: transparent;
}

.new-user-wrapper .user-navigation .nav-pills li a.active:hover {
    background-color:  $color-blue-hover;
}

.nav-pills.user-nav .d-icon,
.nav-pills.action-list .d-icon {
    display: none;
}

.category .header-title .topic-link,
.category .extra-info-wrapper .categories-wrapper {
    display: none;
}

.user-card-badge-link .user-badge {
    border-radius: 6px;
}

.badge-section .more-user-badges span {
    border-radius: 6px;
}

.leaderboard .user {
    border-radius: 6px;
}

.leaderboard .podium__wrapper {
    border-radius: 6px;
}

.leaderboard .user__rank {
    font-family: 'lato';
}

.widget-dropdown-body {
    border-radius: 6px;
}

.widget-dropdown .widget-dropdown-item {
    border-radius: 6px;
}

.widget-dropdown .widget-dropdown-item:hover {
    background-color: #f5f5f5;
}

.event-date .month {
    color: #0061D5;
}

.discourse-post-event-widget {
    border-radius: 6px;
}

#upcoming-events-calendar.fc-unthemed .fc-today-button {
    border-radius: 6px;
    color: #fff;
    background-color: #0061D5;
}

#upcoming-events-calendar.fc-unthemed .fc-today-button:hover {
    color: #fff;
    background-color: #006AE9;
}

#upcoming-events-calendar.fc-unthemed .fc-button-group .fc-button {
    border-radius: 6px;
    margin-right: 3px;
    transition: background-color 200ms ease-in-out;
}

section.tag-info {
    border-radius: 6px;
}

.tap-tile-grid .tap-tile {
   border-radius: 6px;
   margin: 4px 0;
   transition: background-color 200ms ease-in-out;
}

.tap-tile-grid .tap-tile:hover {
    background-color: #f5f5f5;
}

.select-kit.combo-box .select-kit-row {
    border-radius: 6px;
}

button.btn-link.posts-map.badge-posts:hover {
    background: transparent;
    color: black;
}

#topic-entrance {
    border-radius: 6px;
}

.post-controls .widget-button.reply {
    background-color: #0061d5;
}

.post-controls .widget-button.reply:hover {
    background-color: #006AE9;
}

#topic-footer-buttons .select-kit-header-wrapper .name {
    color: #fff;
    margin-left: 0;
}

.badge-card .favorite-btn {
    width: 30px;
    right: 5px;
    bottom: 5px;
    height: 30px;
}

.new-user-wrapper .user-navigation .nav-pills li:hover span {
    color: #fff;
}

.new-user-wrapper .user-navigation .nav-pills li:hover a {
    background-color: #006AE9;
}

.sidebar-section-wrapper .sidebar-section-header.sidebar-section-header-collapsable .sidebar-section-header-text {
    color: #fff;
    margin-bottom: 0;
}

.sidebar-section-wrapper .sidebar-section-header.sidebar-section-header-collapsable {
    height: 30px;
}

.category-list-item.category {
    border-radius: 6px;
}

.list-controls .nav-pills .drop li a {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 900px) {
    #main-outlet {
        padding-top: 3.25em;
    }
}

#navigation-bar .toggle-link {
    background-color: transparent;
    margin-top: 3px;
}

.drop {
    border-radius: 6px;
}

.activate-account {
    margin-top: 50px;
}

.aside.onebox {
    border-radius: 6px;
}

pre code {
    border-radius: 6px;
}

.popup-tip {
    border-radius: 6px;
}

#main-outlet-wrapper {
    margin-bottom: 90px;
}

// Change menu search icon

.header-dropdown-toggle.search-dropdown {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA0OCA0OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDggNDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTtzdHJva2U6I2ZmZjtzdHJva2Utd2lkdGg6NDtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLW1pdGVybGltaXQ6Mn08L3N0eWxlPjxjaXJjbGUgY2xhc3M9InN0MCIgY3g9IjIyIiBjeT0iMjIiIHI9IjE2Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0ibTQyIDQyLTguNy04LjciLz48L3N2Zz4=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.header-dropdown-toggle.search-dropdown .d-icon {
    display: none;
}

// Change menu hamburger icon

.header-dropdown-toggle.hamburger-dropdown {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA5NiA3MiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgOTYgNzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZT4uc3Qwe2ZpbGw6I2ZmZjtzdHJva2U6I2ZmZjtzdHJva2Utd2lkdGg6NTtzdHJva2UtbWl0ZXJsaW1pdDoxMH08L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00LjggMzQuMmMtLjUgMC0uOS4yLTEuMy41LS4zLjQtLjUuOC0uNSAxLjNzLjIuOS41IDEuM2MuMy4zLjguNSAxLjMuNWg4Ni40Yy41IDAgLjktLjIgMS4zLS41LjMtLjMuNS0uOC41LTEuM3MtLjItLjktLjUtMS4zYy0uMy0uMy0uOC0uNS0xLjMtLjVINC44ek05MS4yIDljLjUgMCAuOS0uMiAxLjMtLjUuMy0uNC41LS44LjUtMS4zcy0uMi0uOS0uNS0xLjMtLjgtLjUtMS4zLS41SDQuOGMtLjUgMC0uOS4yLTEuMy41LS4zLjQtLjUuOC0uNSAxLjNzLjIuOS41IDEuM2MuNC4zLjguNSAxLjMuNWg4Ni40ek00LjggNjNjLS41IDAtLjkuMi0xLjMuNS0uMy40LS41LjgtLjUgMS4zcy4yLjkuNSAxLjNjLjMuMy44LjUgMS4zLjVoODYuNGMuNSAwIC45LS4yIDEuMy0uNS4zLS4zLjUtLjguNS0xLjNzLS4yLS45LS41LTEuM2MtLjMtLjMtLjgtLjUtMS4zLS41SDQuOHoiLz48L3N2Zz4=);
}

.header-dropdown-toggle.hamburger-dropdown .d-icon {
    display: none;
}

#search-button,
#search-button:hover,
#toggle-hamburger-menu,
#toggle-hamburger-menu:hover,
#current-user .icon,
#current-user .icon:hover {
    border: none
}

.alert {
    border-radius: 6px;
}

.page-not-found {
    margin: 80px 0 40px 0;
}

// Category banner styles

.category-header div[class^="category-title-header"] {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 51%;
    background-color: $color-box-blue-10 !important;
    margin-top: 37px;
    margin-bottom: 24px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    border-left: none !important;
    border: none;
}

.category-header div[class^="category-title-header"] .category-title-contents {
    color: #000;
    margin-top: 22px;
    margin: 0 auto;
    max-width: calc(100% - 16px);
    width: 1095px !important;
}

.category-header-widget .category-logo.aspect-image, .category-header-widget .category-logo.aspect-image>img {
    margin: 0;
}

.category-header div[class^="category-title-header"] .category-title-description {
    padding-top: 1em;
}

.sidebar-footer-wrapper .sidebar-footer-actions-button.btn {
    background-color: $color-box-blue;
    width: 35px;
}

.hamburger-panel .revamped .sidebar-footer-wrapper {
    margin-top: 0;
    padding: 0 10px;
}

.search-menu .searching a.show-advanced-search .d-icon,
.search-menu .searching a.clear-search .d-icon {
    color: $color-box-gray-60;
}

.search-menu .no-results {
    color: $color-box-gray;
}

.topic-list .topic-list-data:first-of-type {
    padding-left: 0;
}

.topic-list button.bulk-select {
    display: none;
}

// Style cookie banner

.cc-window.cc-banner.cc-type-info {
    background-color: $color-box-blue-10;
}

.cc-btn.cc-dismiss {
    border-radius: 6px;
    font-family: 'lato';
}

.cc-message {
    font-family: 'lato';
}

.cc-window.cc-banner.cc-type-info  .cc-link {
    background-color: transparent;
}

// Footer styles

.custom-footer {
    background-color: #151f26;
    font-family: 'lato';
}

.custom-footer .flexbox {
    position: relative;
    margin-top: 96px;
    border-top: 1px solid #2d363b;
    padding: 48px 0 1em 0;

    @media (min-width: 1200px) {
        min-width: 1100px;
    }
}

.custom-footer .third-box .small-link,
.custom-footer .footer-section-link-wrapper a {
    color: #8ea6b2;
}

.custom-footer .second-box {
    margin-bottom: 90px;
}

.custom-footer .second-box .links ul {
    margin-top: 2rem;
}

.custom-footer .list span {
    border-bottom: 1px solid #2d363b;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
}

.custom-footer .third-box .social {
    position: absolute;
    top: -96px;
    right: 0;
    border-right: 1px solid #2d363b;
    border-left: 1px solid #2d363b;
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-footer .list span {
    font-family: 'lato';
    font-weight: normal;
    width: 100%;
    display: inline-block;
}

.footer-links {
    margin-bottom: 90px;
    margin-top: 55px;
}

.custom-footer .third-box .small-link {
    font-size: 14px;

    &:hover {
        text-decoration: underline;
    }
}

.custom-footer .second-box .links li .footer-section-link:hover {
    text-decoration: underline;
}

.custom-footer .list {
    min-width: 200px;
}