@font-face {
    font-family: lato;
    src: url($lato) format('woff2')
  }

body {
    font-family: lato;
    font-style: normal;
    letter-spacing: 0.3px;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #222222;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
}

.d-header {
    background-color: #0061d5;
    color: #fff;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
    font-size: 16px;
    position: fixed;
}

#site-logo {
    height: 1.4em !important;
    width: 5.32em !important;
    padding: 0;
}

.d-header-icons .d-icon {
    height: 24px;
    width: 24px;
    color: #FFFFFF;
}

.d-header-icons .d-icon:hover {
    background: none;
}

.sign-up-button {
    display: none;
}

.d-modal.login-modal:not(.hidden) #new-account-link {
    display: none;
}

.login-button {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    
    width: 89px;
    height: 32px;
    right: 56px;
    top: 14px;
    
    /* Gray/White */
    
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    
    
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    
    /* Gray/White */
    
    color: #FFFFFF;
}

.login-button:hover {
    background: #1D6BCA !important;
}

.menu-links.columned li {
    width: 100%;
  }
  
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="everything"],
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="my-posts"],
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="review"],
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="users"],
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="groups"]
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="badges"],
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="anniversaries"],
  .sidebar-section-link-wrapper .sidebar-section-link[data-link-name="birthdays"]
  {
      display:none;
  }
  
  ul.category-links {
    display: none;
  }
  
  .categories-separator {
      display: none;
  }
  
  .search-menu .menu-panel.drop-down .panel-body {
      width:100%;
  }
  
  .search-menu .search-input {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 5px;
      line-height:14px;
      gap: 8px;
      vertical-align: center;
      width: 458px;
      height: 30px;
      margin-bottom: 29px;
      
      /* Gray/White */
      
      background: #FFFFFF;
      /* Light Blue/100 */
      
      border: 2px solid #2486FC;
      /* Inner Shadow/Text Input */
      
      box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 6px;
  }
  
  .search-menu .results {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      vertical-align: center;
      width: 468px;
      height: 36px;
  }
  
  .search-menu .search-random-quick-tip {
      width: 100%;
      height: 30px;
      line-height:22px;
      background: #FFFFFF;
  }
  
  .search-menu .search-random-quick-tip .tip-label.tip-clickable {
      width: 24px;
      height: 24px;
      background: #EAF0FD;
      text-align: center;
      margin-right: 5px;
      
      font-weight: 400;
      font-size: 12px;
      color: #6F6F6F;
  }
  
  .tip-description {
      font-weight: 400;
      font-size: 12px;
      color: #6F6F6F;
  }

.menu-panel.drop-down {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 244px;
    padding: 12px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}



.menu-panel .panel-body {
    width: 100%;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section .sidebar-section-header-wrapper {
    border: none;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section ul {
    display: inline-block;
    
}

.sidebar-section-link-wrapper .sidebar-section-link-prefix.icon {
    display: none;
}

.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222;
    margin-bottom: 14px;
}

.list-controls .nav-pills .navigation-toggle {
    width: 137px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.select-kit .combo-box .category-drop {
    width: 137px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.nav-pills li a {
    //width: 103px;
    height: 32px;
    text-align:center;
    background: #F4F4F4;
    border-radius: 32px;
}

.nav-pills li a.active {
    background: #0061D5;
}

.nav-pills>li>a:hover:not(.active),
.nav-pills>li button:hover:not(.active) {
    background: #fbfbfb;
    color: #222222;
}

.btn {
    align-items: center;
    padding: 0px 16px;
    height: 40px;
    background: #0061D5;
    border-radius: 6px;
    color: #FFFFFF;
}

#reply-control #draft-status+.btn-mini-toggle,
.btn.btn-mini-toggle {
    background: #E8E8E8;
    color: #4E4E4E;
}

.btn.btn-mini-toggle:hover {
    background: #E8E8E8;
    color: #222222;
}

.btn .d-icon {
    display: none;
}

.btn[href] {
    color: #FFFFFF;
}

.consent_banner.alert.alert-info .btn-link.btn-text .d-button-label {
    color: #222222 !important;
    font-weight: 700;
}

.d-button-label {
    color: #FFFFFF;
}

.popup-menu .btn .d-button-label {
    color: #222222 !important;
}

.category-breadcrumb {
    order:2;
}

.navigation-controls {
    order:3;
}

table {
    border-collapse: separate;
    border-spacing: 0 30px;
}

table thead tr th {
    border-bottom: 3px solid var(--primary-low);
}

.category-list tbody .category {
    border-width: 12px;
    border-radius: 6px 0px 0px 6px;
    padding:16px;
    background: #FAFCFE;
}

.category-list .category-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.category-list .category .category-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.category-list .topics {
    padding:16px;
    background: #FAFCFE;
}

.subcategory .badge-wrapper.bullet .badge-category {
    border-radius: 47px;
    padding: 2px 8px;
}

.badge-wrapper .badge-category .category-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.category-list .subcategories .subcategory {
    margin-bottom: 8px;
}

// General
tr[data-category-id="4"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #E5EFFA;
}

// SDKs and Tools
tr[data-category-id="5"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #F5EBFD;
}

// Box Platform
tr[data-category-id="6"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #E8E8E8;
}

// Product APIs
tr[data-category-id="7"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #FFFBE5;
}

.subcategory .badge-wrapper.bullet .badge-category-bg {
    display: none !important;
}

.badge-wrapper.bullet .badge-category-bg {
    border-radius: 50%;
}

.latest-topic-list .table-heading {
    margin: 30px 0 0 0;
}

.latest-topic-list-item .main-link a.title,
.topic-list .main-link a.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0061D5;
}

.latest-topic-list-item.visited .main-link a.title,
.topic-list-item.visited .topic-list-data a.title:not(.badge-notification) {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #7F32BE;
    ;
}

#banner-content_wrap .banner-box.third_column {
    display: none;
}

#banner-content_wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.banner-box .row {
    justify-content: flex-start;
}

.second_column.single-box {
    margin-left: auto;
    margin-right: 10px;
}

// Create/Reply to Post dialog box
#reply-control .reply-to .composer-controls .d-icon:not(.d-icon-discourse-expand)
:not(.d-icon-chevron-down)
:not(.d-icon-angle-double-left) {
    display: none;
}

#reply-control .reply-to .composer-controls .d-icon.d-icon-discourse-expand,
#reply-control .reply-to .composer-controls .d-icon.d-icon-chevron-down,
#reply-control .reply-to .composer-controls .d-icon.d-icon-angle-double-left,
.btn.no-text .d-icon.d-icon.d-icon-angle-double-left {
    color: #222222;
    background: #E8E8E8;
    display:block;
}

#reply-control .reply-to .composer-action-title .d-icon, 
#reply-control .reply-to .composer-action-title .action-title {
    color:#222222;
}

.btn.no-text:not(.quote):not(.bold):not(.italic):not(.link):not(.blockquote):not(.upload):not(.emoji):not(.local-dates):not(.code):not(.bullet):not(.list) .d-icon:not(.d-icon-angle-double-left):not(.d-icon-times) {
    display: inline-flex;
    color: #FFFFFF;
}

.open .grippie {
    background: #000C1A;
}

.open .grippie:before {
    border-top: 3px double #FFFFFF;
}

.d-editor-button-bar .btn .d-icon {
    color: #4E4E4E;
    display: block;
}

#reply-control #reply-title,
#reply-control .category-input .category-chooser .select-kit-header,
#reply-control .mini-tag-chooser .select-kit-header,
.d-editor-textarea-wrapper {
    box-sizing: border-box;
    border: 2px solid #2486FC;
    border-radius: 8px;
}