@font-face {
    font-family: lato;
    src: url($lato) format('woff2')
  }

body {
    font-family: lato;
    font-style: normal;
    letter-spacing: 0.3px;
}

h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #222222;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
}

.d-header {
    background-color: #0061d5;
    color: #fff;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 10;
    font-size: 16px;
    position: fixed;
}

#site-logo {
    height: 1.4em !important;
    width: 5.32em !important;
    padding: 0;
}

.d-header-icons .d-icon {
    height: 24px;
    width: 24px;
    color: #FFFFFF;
}

.sign-up-button {
    display: none;
}

.d-modal.login-modal:not(.hidden) #new-account-link {
    display: none;
}

.login-button {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    
    width: 89px;
    height: 32px;
    right: 56px;
    top: 14px;
    
    /* Gray/White */
    
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    
    
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    
    /* Gray/White */
    
    color: #FFFFFF;
}

.menu-panel.drop-down {
    /* MenuBlock */
    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    
    width: 244px;
    height: 346px;
    
    /* Gray/White */
    background: #FFFFFF;
    
    /* Gray/10 */
    border: 1px solid #E8E8E8;
    
    /* Drop Shadow/Dropdown */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.list-controls .nav-pills .navigation-toggle {
    width: 137px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.select-kit .combo-box .category-drop {
    width: 137px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.nav-pills li a {
    //width: 103px;
    height: 32px;
    text-align:center;
    background: #F4F4F4;
    border-radius: 32px;
}

.nav-pills li a.active {
    background: #0061D5;
}

.btn {
    align-items: center;
    padding: 0px 16px;
    height: 40px;
    background: #0061D5;
    border-radius: 6px;
    color: #FFFFFF;
}

.btn .d-icon {
    display: none;
}

#reply-control .reply-to .composer-controls .d-icon {
    display: none;
}

.btn.no-text .d-icon {
    display: inline-flex;
    color: #FFFFFF;
}

.btn[href] {
    color: #FFFFFF;
}

.category-breadcrumb {
    order:2;
}

.navigation-controls {
    order:3;
}

table {
    border-collapse: separate;
    border-spacing: 0 30px;
}

table thead tr th {
    border-bottom: 3px solid var(--primary-low);
}

.category-list tbody .category {
    border-width: 12px;
    border-radius: 6px 0px 0px 6px;
}

.category-list .category-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.category-list .category .category-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.subcategory .badge-wrapper.bullet .badge-category {
    border-radius: 47px;
    padding: 2px 8px;
}

.badge-wrapper .badge-category .category-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

// General
tr[data-category-id="4"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #E5EFFA;
}

// SDKs and Tools
tr[data-category-id="5"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #F5EBFD;
}

// Box Platform
tr[data-category-id="6"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #E8E8E8;
}

// Product APIs
tr[data-category-id="7"] td.category .subcategories .subcategory .badge-wrapper.bullet .badge-category { 
    background: #FFFBE5;
}

.subcategory .badge-wrapper.bullet .badge-category-bg {
    display: none !important;
}

.badge-wrapper.bullet .badge-category-bg {
    border-radius: 50%;
}

.latest-topic-list .table-heading {
    //border-bottom: 3px solid var(--primary-low);
    margin: 30px 0 0 0;
}

.latest-topic-list-item .main-link a.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0061D5;
}

#banner-content_wrap .banner-box.third_column {
    display: none;
}

#banner-content_wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-box .row {
    justify-content: flex-start;
}

.second_column.single-box {
    margin-left: auto;
}
