#top-menu {
    position: fixed;
    z-index: 1200;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    background: transparent;
    width: auto;
}

.top-menu .menu-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.top-menu .menu-item:hover {
    background: #EFEFFA;
}

.top-menu .menu-item:active {
    background: #FFFFFF;
    color:#222222;
}

.top-menu .menu-item:hover .d-header-dropdown {
    /* MenuBlock */
    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    
    width: 320px;
    height: auto;
    
    /* Gray/White */
    background: #FFFFFF;
    
    /* Gray/10 */
    border: 1px solid #E8E8E8;
    
    /* Drop Shadow/Dropdown */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.top-menu .menu-item.community:hover .d-header-dropdown {
    display:none;
}

.top-menu .d-dropdown-menu {
    min-width:unset;
    box-shadow:unset;
    width:100%;
}

.top-menu .submenu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 14px;
}

.top-menu .submenu-link[title="DevDocs Header"],
.top-menu .submenu-link[title="AddRes Header"] {
    font-weight: 700;
}

.top-menu .submenu-link[title="DevDocs Header"]:hover,
.top-menu .submenu-link[title="AddRes Header"]:hover {
    background-color: #FFFFFF;
    cursor:default;
}

.top-menu .submenu-link[title="AddRes Header"] {
    margin-top:50px;
}

.d-header .wrap .contents {
    width: 98vw;
    position: relative;
    left: calc(-50vw + 50%);
    padding: 0 24px;
}

.custom-header-links .top-level-links {
    position: relative;
    left: calc(50vw - 100%);
}

.custom-header-links .top-level-links .custom-header-link,
.custom-header-links .top-level-links .custom-header-link-with-url {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    /* Text on Dark/Default */
    
    color: #FFFFFF;
}

.custom-header-links .top-level-links .custom-header-link:hover,
.custom-header-links .top-level-links .custom-header-link-with-url:hover {
    color: #FFFFFF;
} 

//.custom-header-links .top-level-links .custom-header-link .custom-header-link-caret {
//    display: none;
//}

.search-menu .menu-panel.drop-down,
.custom-header-links .top-level-links .custom-header-dropdown {
    width: 500px;
    height: auto;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
}

.custom-header-links .top-level-links .custom-header-dropdown li {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    
    /* Text on Light/Default */
    
    color: #222222;
}

.custom-header-links .top-level-links .custom-header-dropdown li[title="Documentation"],
.custom-header-links .top-level-links .custom-header-dropdown li[title="Additional Resources"] {
    font-weight: 700;
}

.custom-header-links .top-level-links .custom-header-dropdown li[title="Additional Resources"] {
    margin-top: 25px;
}

#main .banner-box {
    margin-top:62px;
}

.banner-box .row {
    padding-top: 20px;
}

.banner-box .row .single-box,
.banner-box h1 {
    font-family: lato;
    text-align: left;
    vertical-align:center;
}

.banner-box .row .single-box .icon {
    text-align: right !important
}

.banner-box .row .single-box .icon .responsive-img {
    background: url($bubble-bg);
}

.alert .close {
    top: -1px;
}

.alert .close .d-icon {
    color:#222222;
    display:block;
}

.list-controls .combo-box .combo-box-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    gap: 8px;
    width: 137px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}